node_modules/

vendor/**/*.md
vendor/**/LICENSE
vendor/**/.*rc
vendor/**/*.markdown
vendor/**/*.yml
vendor/**/.*ignore
vendor/**/tsconfig.json
vendor/**/*.ts
vendor/**/package.json
vendor/.package-lock.json
vendor/.bin
